<?xml version="1.0" encoding="UTF-8"?>
<!--
	pageAccessType values 
		G - General Access only Public Rest URL's & Commons URL
		M - Mentor Access
		P - Professional Team Access
		C - Customer Access
		A - Admin Access
		S - Super/all Access
		D - Development Team Access
		T - Testing Team Access
 -->
<menu>
	<pageList id="secured"></pageList>
	<pageList id="unsecured">
		<page id="indexDirect" url="/"></page>
		<page id="index" url="/index.html"></page>
		<page id="loginRestUnsecured" url="/rest/login">
			<webservice id="validateCredential" url="/validateCredential"></webservice>
			<webservice id="resetPassword" url="/resetPassword"></webservice>
			<webservice id="logout" url="/logout"></webservice>
			<webservice id="checkUIpathAccess" url="/checkUIpathAccess"></webservice>
		</page>
		<page id="commonsUnsecured" url="/rest/commons">
			<webservice id="getErrorDetails" url="/getErrorDetails"></webservice>
			<webservice id="getLoginBasicInfo" url="/getLoginBasicInfo"></webservice>
			<webservice id="getEmailTemplates" url="/getEmailTemplates"></webservice>
			<webservice id="loadEmailTemplate" url="/loadEmailTemplate"></webservice>
			<webservice id="sendEmail" url="/sendEmail"></webservice>
		</page>
		<page id="employeeUnsecured" url="/rest/employee">
			<webservice id="alertsRemindersGrid" url="/alertsRemindersGrid"></webservice>
			<webservice id="tasksGrid" url="/tasksGrid"></webservice>
			<webservice id="workflowsGrid" url="/workflowsGrid"></webservice>
		</page>
		<page id="error" url="/error.html"></page>
	</pageList>
</menu>