<?xml version="1.0" encoding="UTF-8"?>
<!--
	pageAccessType values 
		G - General Access only Public Rest URL's & Commons URL
		M - Mentor Access
		P - Professional Team Access
		C - Customer Access
		A - Admin Access
		S - Super/all Access
		D - Development Team Access
		T - Testing Team Access
 -->
<menu>
	<pageList id="secured"></pageList>
	<pageList id="unsecured">
		<page id="indexDirect" url="/"></page>
		<page id="index" url="/index.html"></page>
		<page id="loginRestUnsecured" url="/rest/login">
			<webservice id="validateCredential" url="/validateCredential"></webservice>
			<webservice id="resetPassword" url="/resetPassword"></webservice>
			<webservice id="logout" url="/logout"></webservice>
			<webservice id="checkUIpathAccess" url="/checkUIpathAccess"></webservice>
		</page>
		<page id="commonsUnsecured" url="/rest/commons">
			<webservice id="getErrorDetails" url="/getErrorDetails"></webservice>
			<webservice id="getLoginBasicInfo" url="/getLoginBasicInfo"></webservice>
			<webservice id="getEmailTemplates" url="/getEmailTemplates"></webservice>
			<webservice id="loadEmailTemplate" url="/loadEmailTemplate"></webservice>
			<webservice id="sendEmail" url="/sendEmail"></webservice>
		</page>
		<page id="employeeUnsecured" url="/rest/employee">
			<webservice id="alertsRemindersGrid" url="/alertsRemindersGrid"></webservice>
			<webservice id="tasksGrid" url="/tasksGrid"></webservice>
			<webservice id="workflowsGrid" url="/workflowsGrid"></webservice>
		</page>
		<page id="adminUnsecured" url="/rest/admin">
			<webservice id="registeredTutorsList" url="/registeredTutorsList"></webservice>
			<webservice id="registeredTutorCheckDataAccess" url="/registeredTutorCheckDataAccess"></webservice>
			<webservice id="blacklistRegisteredTutors" url="/blacklistRegisteredTutors"></webservice>
			<webservice id="subscribedCustomersList" url="/subscribedCustomersList"></webservice>
			<webservice id="subscribedCustomerCheckDataAccess" url="/subscribedCustomerCheckDataAccess"></webservice>
			<webservice id="blacklistSubscribedCustomers" url="/blacklistSubscribedCustomers"></webservice>
		</page>
		<page id="registeredTutorUnsecured" url="/rest/registeredTutor">
			<webservice id="uploadedDocuments" url="/uploadedDocuments"></webservice>
			<webservice id="bankDetails" url="/bankDetails"></webservice>
			<webservice id="currentPackages" url="/currentPackages"></webservice>
			<webservice id="historyPackages" url="/historyPackages"></webservice>
			<webservice id="approveTutorDocument" url="/approveTutorDocument"></webservice>
			<webservice id="approveMultipleTutorDocument" url="/approveMultipleTutorDocument"></webservice>
			<webservice id="sendReminderTutorDocument" url="/sendReminderTutorDocument"></webservice>
			<webservice id="sendReminderMultipleTutorDocument" url="/sendReminderMultipleTutorDocument"></webservice>
			<webservice id="rejectTutorDocument" url="/rejectTutorDocument"></webservice>
			<webservice id="rejectMultipleTutorDocument" url="/rejectMultipleTutorDocument"></webservice>
			<webservice id="approveBankAccount" url="/approveBankAccount"></webservice>
			<webservice id="approveMultipleBankAccount" url="/approveMultipleBankAccount"></webservice>
			<webservice id="makeDefaultBankAccount" url="/makeDefaultBankAccount"></webservice>
			<webservice id="rejectBankAccount" url="/rejectBankAccount"></webservice>
			<webservice id="rejectMultipleBankAccount" url="/rejectMultipleBankAccount"></webservice>
			<webservice id="updateTutorRecord" url="/updateTutorRecord"></webservice>
		</page>
		<page id="subscribedCustomerUnsecured" url="/rest/subscribedCustomer">
			<webservice id="currentPackages" url="/currentPackages"></webservice>
			<webservice id="historyPackages" url="/historyPackages"></webservice>
			<webservice id="updateCustomerRecord" url="/updateCustomerRecord"></webservice>
		</page>
		<page id="supportUnsecured" url="/rest/support">
			<webservice id="nonContactedBecomeTutorsList" url="/nonContactedBecomeTutorsList"></webservice>
			<webservice id="nonVerifiedBecomeTutorsList" url="/nonVerifiedBecomeTutorsList"></webservice>
			<webservice id="verifiedBecomeTutorsList" url="/verifiedBecomeTutorsList"></webservice>
			<webservice id="verificationFailedBecomeTutorsList" url="/verificationFailedBecomeTutorsList"></webservice>
			<webservice id="toBeReContactedBecomeTutorsList" url="/toBeReContactedBecomeTutorsList"></webservice>
			<webservice id="selectedBecomeTutorsList" url="/selectedBecomeTutorsList"></webservice>
			<webservice id="rejectedBecomeTutorsList" url="/rejectedBecomeTutorsList"></webservice>
			<webservice id="registeredBecomeTutorsList" url="/registeredBecomeTutorsList"></webservice>	
			<webservice id="becomeTutorCheckDataAccess" url="/becomeTutorCheckDataAccess"></webservice>	
			<webservice id="blacklistBecomeTutors" url="/blacklistBecomeTutors"></webservice>	
			<webservice id="updateBecomeTutorRecord" url="/updateBecomeTutorRecord"></webservice>			
			<webservice id="nonContactedEnquirysList" url="/nonContactedEnquirysList"></webservice>
			<webservice id="nonVerifiedEnquirysList" url="/nonVerifiedEnquirysList"></webservice>
			<webservice id="verifiedEnquirysList" url="/verifiedEnquirysList"></webservice>
			<webservice id="verificationFailedEnquirysList" url="/verificationFailedEnquirysList"></webservice>
			<webservice id="toBeReContactedEnquirysList" url="/toBeReContactedEnquirysList"></webservice>
			<webservice id="selectedEnquirysList" url="/selectedEnquirysList"></webservice>
			<webservice id="rejectedEnquirysList" url="/rejectedEnquirysList"></webservice>		
			<webservice id="enquiryRequestCheckDataAccess" url="/enquiryRequestCheckDataAccess"></webservice>	
			<webservice id="blacklistEnquiryRequests" url="/blacklistEnquiryRequests"></webservice>	
			<webservice id="updateEnquiryRequestRecord" url="/updateEnquiryRequestRecord"></webservice>	
			<webservice id="nonContactedSubscriptionsList" url="/nonContactedSubscriptionsList"></webservice>
			<webservice id="nonVerifiedSubscriptionsList" url="/nonVerifiedSubscriptionsList"></webservice>
			<webservice id="verifiedSubscriptionsList" url="/verifiedSubscriptionsList"></webservice>
			<webservice id="verificationFailedSubscriptionsList" url="/verificationFailedSubscriptionsList"></webservice>
			<webservice id="toBeReContactedSubscriptionsList" url="/toBeReContactedSubscriptionsList"></webservice>
			<webservice id="selectedSubscriptionsList" url="/selectedSubscriptionsList"></webservice>
			<webservice id="rejectedSubscriptionsList" url="/rejectedSubscriptionsList"></webservice>
			<webservice id="subscriptionRequestCheckDataAccess" url="/subscriptionRequestCheckDataAccess"></webservice>	
			<webservice id="blacklistSubscriptionRequests" url="/blacklistSubscriptionRequests"></webservice>	
			<webservice id="updateSubscriptionRequestRecord" url="/updateSubscriptionRequestRecord"></webservice>
			<webservice id="nonContactedQueryList" url="/nonContactedQueryList"></webservice>
			<webservice id="nonAnsweredQueryList" url="/nonAnsweredQueryList"></webservice>
			<webservice id="answeredQueryList" url="/answeredQueryList"></webservice>
			<webservice id="submittedQueryCheckDataAccess" url="/submittedQueryCheckDataAccess"></webservice>	
			<webservice id="updateSubmittedQueryRecord" url="/updateSubmittedQueryRecord"></webservice>
			<webservice id="customerComplaintList" url="/customerComplaintList"></webservice>
			<webservice id="tutorComplaintList" url="/tutorComplaintList"></webservice>
			<webservice id="employeeComplaintList" url="/employeeComplaintList"></webservice>
			<webservice id="resolvedComplaintList" url="/resolvedComplaintList"></webservice>
			<webservice id="complaintCheckDataAccess" url="/complaintCheckDataAccess"></webservice>	
			<webservice id="updateComplaintRecord" url="/updateComplaintRecord"></webservice>
		</page>
		<page id="salesCustomerUnsecured" url="/rest/sales">
			<webservice id="pendingEnquiriesList" url="/pendingEnquiriesList"></webservice>
			<webservice id="completedEnquiriesList" url="/completedEnquiriesList"></webservice>
			<webservice id="abortedEnquiriesList" url="/abortedEnquiriesList"></webservice>
			<webservice id="pendingEnquiryCheckDataAccess" url="/pendingEnquiryCheckDataAccess"></webservice>
			<webservice id="currentCustomerAllPendingEnquiriesList" url="/currentCustomerAllPendingEnquiriesList"></webservice>
			<webservice id="updatePendingEnquiryRecord" url="/updatePendingEnquiryRecord"></webservice>
			<webservice id="toBeMappedEnquiriesGridList" url="/toBeMappedEnquiriesGridList"></webservice>
			<webservice id="mapTutorToEnquiryCheckDataAccess" url="/mapTutorToEnquiryCheckDataAccess"></webservice>
		</page>
		<page id="error" url="/error.html"></page>
	</pageList>
</menu>