<?xml version="1.0" encoding="UTF-8"?>
<!--
	pageAccessType values 
		G - General Access only Public Rest URL's & Commons URL
		M - Mentor Access
		P - Professional Team Access
		C - Customer Access
		A - Admin Access
		S - Super/all Access
		D - Development Team Access
		T - Testing Team Access
 -->
<menu>
	<pageList id="secured">
		<!-- <page id="publicAccess" url="/rest/publicaccess" pageAccessType="G">
			<webservice id="getForm" url="/getForm"></webservice>
			<webservice id="saveForm" url="/saveForm" additionalAccessFunction="saveAccessForForm11"></webservice>
			<webservice id="downloadForm" url="/downloadForm"></webservice>
		</page> -->
		<page id="admin" url="/admin.html" pageAccessType="A"></page>
		<page id="tutorregister" url="/tutorregister.html" pageAccessType="A"></page>
		<page id="tutorenquiry" url="/tutorenquiry.html" pageAccessType="A"></page>
		<page id="subscribewithus" url="/subscribewithus.html" pageAccessType="A"></page>
		<page id="registeredtutor" url="/registeredtutor.html" pageAccessType="A"></page>
		<page id="enquiries" url="/enquiries.html" pageAccessType="A"></page>
		<page id="demo" url="/demo.html" pageAccessType="A"></page>
		<page id="adminRest" url="/rest/admin" pageAccessType="A">
			<!-- Tutor Registration Admin -->
			<webservice id="displayNonContactedTutorRegistrations" url="/displayNonContactedTutorRegistrations"></webservice>
			<webservice id="displayNonVerifiedTutorRegistrations" url="/displayNonVerifiedTutorRegistrations"></webservice>
			<webservice id="displayVerifiedTutorRegistrations" url="/displayVerifiedTutorRegistrations"></webservice>
			<webservice id="displayVerificationFailedTutorRegistrations" url="/displayVerificationFailedTutorRegistrations"></webservice>
			<webservice id="displayToBeRecontactedTutorRegistrations" url="/displayToBeRecontactedTutorRegistrations"></webservice>
			<webservice id="displaySelectedTutorRegistrations" url="/displaySelectedTutorRegistrations"></webservice>
			<webservice id="displayRejectedTutorRegistrations" url="/displayRejectedTutorRegistrations"></webservice>
			<webservice id="displayRegisteredTutorsFromTutorRegistrations" url="/displayRegisteredTutorsFromTutorRegistrations"></webservice>
			<webservice id="takeActionOnTutorRegistration" url="/takeActionOnTutorRegistration"></webservice>
			<webservice id="downloadAdminReportTutorRegistrations" url="/downloadAdminReportTutorRegistrations"></webservice>
			<webservice id="downloadAdminTutorRegistrationProfilePdf" url="/downloadAdminTutorRegistrationProfilePdf"></webservice>
			<!-- Tutor Enquiry Admin -->
			<webservice id="displayNonContactedTutorEnquiries" url="/displayNonContactedTutorEnquiries"></webservice>
			<webservice id="displayNonVerifiedTutorEnquiries" url="/displayNonVerifiedTutorEnquiries"></webservice>
			<webservice id="displayVerifiedTutorEnquiries" url="/displayVerifiedTutorEnquiries"></webservice>
			<webservice id="displayVerificationFailedTutorEnquiries" url="/displayVerificationFailedTutorEnquiries"></webservice>
			<webservice id="displayToBeRecontactedTutorEnquiries" url="/displayToBeRecontactedTutorEnquiries"></webservice>
			<webservice id="displaySelectedTutorEnquiries" url="/displaySelectedTutorEnquiries"></webservice>
			<webservice id="displayRejectedTutorEnquiries" url="/displayRejectedTutorEnquiries"></webservice>
			<webservice id="takeActionOnTutorEnquiry" url="/takeActionOnTutorEnquiry"></webservice>
			<webservice id="downloadAdminReportTutorEnquiries" url="/downloadAdminReportTutorEnquiries"></webservice>
			<webservice id="downloadAdminTutorEnquiryProfilePdf" url="/downloadAdminTutorEnquiryProfilePdf"></webservice>
			<!-- Admin Send Email -->
			<webservice id="sendEmail" url="/sendEmail"></webservice>
			<!-- Subscription Admin -->
			<webservice id="displayNonContactedSubscriptions" url="/displayNonContactedSubscriptions"></webservice>
			<webservice id="displayNonVerifiedSubscriptions" url="/displayNonVerifiedSubscriptions"></webservice>
			<webservice id="displayVerifiedSubscriptions" url="/displayVerifiedSubscriptions"></webservice>
			<webservice id="displayVerificationFailedSubscriptions" url="/displayVerificationFailedSubscriptions"></webservice>
			<webservice id="displayToBeRecontactedSubscriptions" url="/displayToBeRecontactedSubscriptions"></webservice>
			<webservice id="displaySelectedSubscriptions" url="/displaySelectedSubscriptions"></webservice>
			<webservice id="displayRejectedSubscriptions" url="/displayRejectedSubscriptions"></webservice>
			<webservice id="takeActionOnSubscriptions" url="/takeActionOnSubscriptions"></webservice>
			<webservice id="downloadAdminReportSubscriptions" url="/downloadAdminReportSubscriptions"></webservice>
			<webservice id="downloadAdminIndividualSubscriptionProfilePdf" url="/downloadAdminIndividualSubscriptionProfilePdf"></webservice>
			<!-- Subscription Admin -->
		</page>
		<page id="enquiryRest" url="/rest/enquiry" pageAccessType="A">
			<!-- Enquiries Admin -->
			<webservice id="displayCustomerWithPendingEnquiries" url="/displayCustomerWithPendingEnquiries"></webservice>
			<webservice id="displayCustomerWithMappedEnquiries" url="/displayCustomerWithMappedEnquiries"></webservice>
			<webservice id="displayCustomerWithAbandonedEnquiries" url="/displayCustomerWithAbandonedEnquiries"></webservice>
			<webservice id="displayAllEnquiriesForParticularCustomer" url="/displayAllEnquiriesForParticularCustomer"></webservice>
			<webservice id="getDropdownListDataForEnquiryDetails" url="/getDropdownListDataForEnquiryDetails"></webservice>
			<webservice id="updateEnquiryDetails" url="/updateEnquiryDetails"></webservice>
			<webservice id="displayAllEligibleTutors" url="/displayAllEligibleTutors"></webservice>
			<webservice id="mapTutors" url="/mapTutors"></webservice>
			<webservice id="displayAllMappedDemoPendingTutors" url="/displayAllMappedDemoPendingTutors"></webservice>
			<webservice id="unmapTutors" url="/unmapTutors"></webservice>
			<webservice id="displayAllMappedDemoScheduledTutors" url="/displayAllMappedDemoScheduledTutors"></webservice>
			<webservice id="updateTutorMapperDetails" url="/updateTutorMapperDetails"></webservice>
			<webservice id="scheduleDemo" url="/scheduleDemo"></webservice>
		</page>
		<page id="demoRest" url="/rest/demo" pageAccessType="A">
			<!-- Demo Tracker Admin -->
			<webservice id="displayScheduledDemos" url="/displayScheduledDemos"></webservice>
			<webservice id="displayRescheduledDemos" url="/displayRescheduledDemos"></webservice>
			<webservice id="displaySuccessfullDemos" url="/displaySuccessfullDemos"></webservice>
			<webservice id="displayFailedDemos" url="/displayFailedDemos"></webservice>
			<webservice id="displayCanceledDemos" url="/displayCanceledDemos"></webservice>
			<webservice id="displayDemoDetails" url="/displayDemoDetails"></webservice>
			<webservice id="updateDemoTrackerDetails" url="/updateDemoTrackerDetails"></webservice>
			<webservice id="demoSuccess" url="/demoSuccess"></webservice>
			<webservice id="demoFailure" url="/demoFailure"></webservice>
			<webservice id="cancelDemo" url="/cancelDemo"></webservice>
			<webservice id="rescheduleDemo" url="/rescheduleDemo"></webservice>
		</page>
		<page id="tutor" url="/tutor.html" pageAccessType="M"></page>
		<page id="tutorRest" url="/rest/tutor" pageAccessType="M">
			<!-- Tutor External -->
			<webservice id="uploadDocuments" url="/uploadDocuments"></webservice>
			<webservice id="loadTutorRecord" url="/loadTutorRecord"></webservice>
			<webservice id="getDropdownListDataRegisteredTutor" url="/getDropdownListDataRegisteredTutor"></webservice>
			<webservice id="updateDetails" url="/updateDetails"></webservice>
			<webservice id="downloadDocument" url="/downloadDocument"></webservice>
			<webservice id="registeredTutorsList" url="/registeredTutorsList" pageAccessType="A"></webservice>
			<webservice id="downloadDocumentFromAdmin" url="/downloadDocumentFromAdmin" pageAccessType="A"></webservice>
			<webservice id="aprroveDocumentFromAdmin" url="/aprroveDocumentFromAdmin" pageAccessType="A"></webservice>
			<webservice id="rejectDocumentFromAdmin" url="/rejectDocumentFromAdmin" pageAccessType="A"></webservice>
			<webservice id="sendDocumentReminderEmail" url="/sendDocumentReminderEmail" pageAccessType="A"></webservice>
			<webservice id="downloadAdminReportRegisteredTutors" url="/downloadAdminReportRegisteredTutors" pageAccessType="A"></webservice>
			<webservice id="downloadAdminIndividualRegisteredTutorProfilePdf" url="/downloadAdminIndividualRegisteredTutorProfilePdf" pageAccessType="A"></webservice>
		</page>
		<page id="commons" url="/rest/commons" pageAccessType="G">
			<webservice id=" getUser" url="/getUser"></webservice>
		</page>
		<page id="loginRest" url="/rest/login" pageAccessType="G">
			<webservice id="changePassword" url="/changePassword"></webservice>
			<webservice id="logout" url="/logout"></webservice>
		</page>
		<page id="customer" url="/customer.html" pageAccessType="C"></page>
		<page id="customerRest" url="/rest/customer" pageAccessType="C">
			<!-- Customer External -->
			<webservice id="loadSubscribedCustomerRecord" url="/loadSubscribedCustomerRecord"></webservice>
			<webservice id="getDropdownListDataSubscribedCustomer" url="/getDropdownListDataSubscribedCustomer"></webservice>
			<webservice id="updateSubscribedCustomerDetails" url="/updateSubscribedCustomerDetails"></webservice>
			<webservice id="subscribedCustomersList" url="/subscribedCustomersList" pageAccessType="A"></webservice>		
		</page> 
	</pageList>
	<pageList id="unsecured">
		<page id="index" url="/"></page>
		<page id="index" url="/index.html"></page>
		<page id="publicAccess" url="/rest/publicaccess">
			<webservice id="becomeTutor" url="/becomeTutor"></webservice>
			<webservice id="findTutor" url="/findTutor"></webservice>
			<webservice id="submitQuery" url="/submitQuery"></webservice>
			<webservice id="subscribe" url="/subscribe"></webservice>
			<webservice id="getDropdownListDataBecomeTutor" url="/getDropdownListDataBecomeTutor"></webservice>
			<webservice id="getDropdownListDataFindTutor" url="/getDropdownListDataFindTutor"></webservice>
			<webservice id="getDropdownListDataSubscribeWithUs" url="/getDropdownListDataSubscribeWithUs"></webservice>
		</page>
		<page id="login" url="/login.html"></page>
		<page id="loginRestUnsecured" url="/rest/login">
			<webservice id="validateCredential" url="/validateCredential"></webservice>
			<webservice id="resetPassword" url="/resetPassword"></webservice>
			<webservice id="updateEnquiryDetails" url="/updateEnquiryDetails"></webservice>
		</page>
		<page id="commonsUnsecured" url="/rest/commons">
			<webservice id="getServerInfo" url="/getServerInfo"></webservice>
			<webservice id="getErrorDetails" url="/getErrorDetails"></webservice>
		</page>
		<page id="error" url="/error.html"></page>
	</pageList>
</menu>